<div class="container">
    <main role="main" class="pb-3">
        <div class="d-flex justify-content-center m-5">
            <div class="card text-center">
                <div class="card-header">
                  EBank
                </div>
                <div class="card-body">
                  <h5 class="card-title">Bienvenu dans EBank</h5>
                  <p class="card-text">Ici nous gérons les comptes de nos clients</p>
                  <a routerLink="/customers" class="btn btn-danger">Voir nos clients</a>
                </div>
                <div class="card-footer text-muted">
                  Isaac Bikwaku Mbinzi
                </div>
            </div>
        </div>
    </main>
</div>